<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>未处理的维修记录</title>
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/table.css">
</head>
<body>
<h1 style="text-align:center">未处理的维修记录</h1>
<!--//id,engineerid,scan,repair,time,workload,parts,status-->
<table border="1" style='width: 100%;'>
    <tr>
        <th>id</th>
        <th>engineerid</th>
        <th>scan</th>
        <th>repair</th>
        <th>time</th>
        <th>workload</th>
        <th>parts</th>
        <th>status</th>
        <th>opreation</th>
    </tr>
    <tr th:each="i:${repairlist}">
        <td th:text="${i.id}" />
        <td th:text="${i.engineerid}" />
        <td th:text="${i.scan}" />
        <td th:text="${i.repair}" />
        <td th:text="${i.time}" />
        <td th:text="${i.workload}" />
        <td th:text="${i.parts}" />
        <td th:text="${i.status}" />
        <td> <a th:href="@{/cost/writecost/}+${i.id}" >登记</a> </td>
    </tr>

</table>
</body>
</html>
